<%= form_for @event, :url => form_path, :html => {:multipart => true} do |f| %>
  <% if @event.errors.any? %>
    <div id="event_form">
      <%= pluralize(@event.errors.count, "error") %> prevented the event from being created:
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <span id="event_form"><%= f.label :title %><br></span>
    <%= f.text_field :title %>
  </div>
  <div>
    <span id="event_form"><%= f.label :date %><br></span>
    <%= f.date_select :start_date %>
  </div>
  <div>
    <span id="event_form"><%= f.label :ad %><br></span>
    <span id="event_form"><%= f.file_field :ad %></span>
  </div>
  <br>
  <div>
    <%= f.submit "Save" %>
  </div>
<% end %>