<%= link_to "Venue", venue_path(@venue) %>

<h2>Edit Venue</h2>
<%= form_for @venue do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :logo %><br>
    <%= f.file_field :logo %>
  </div>
  <div>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div>
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity, {min: "0"} %>
  </div>
  <div>
    <%= f.label :avg_drink_price, "Average Drink Price" %><br>
    <%= f.number_field :avg_drink_price, {min: "0"} %>
  </div>
  <div>
    <%= f.label :age_range %><br>
    <%= f.text_field :age_range %>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit "Save" %>
  </div>
<% end %>